<div class="row panel panel-info">
  {{#unless noHeader}}
    {{named-yield "header" class="panel-heading"}}
  {{/unless}}
  {{#unless noLinks}}
    {{named-yield "links" class="panel-body panel-tabs"}}
  {{/unless}}
  <div class="panel-contents">
    {{yield (hash 
      header=(component "block-for" "header")
      links=(component "block-for" "links")
      footer=(component "block-for" "footer")
    )}}
  </div>
  {{#unless noFooter}}
    {{named-yield "footer" class="panel-footer"}}
  {{/unless}}
</div>
