@import "compass";
@import "animation/core";
@import "bootstrap";
@import "bootstrap/theme";
@import 'material-design-lite';

@import "simwms-assets/common";
@import "simwms-assets/functions";
@import "simwms-assets/map-grid";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";
@import "ember-timezone-input";
@import "pod-styles";
@import "font-awesome";
#main {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}

#special-row {
  transition: transform 300ms;
  transition-timing-function: ease-in-out;
  width: 100vw;
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 150vw;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 170vw;
  }
  @media (max-width: $screen-xs-max) { 
    width: 200vw;
  }
  &.show-menu {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      transform: translateX(-50vw);
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      transform: translateX(-70vw);
    }
    @media (max-width: $screen-xs-max) { 
      transform: translateX(-100vw);
    }
  }
}

#game,
#login {
  height: calc(100vh - 55px);
  padding-right: 0;
}
#sidenav {
  height: calc(100vh - 55px);
  width: 100%;
  border-left: 2px solid #ccc;
  @include box-shadow(fade-out(#000, 0.8) -2px 0 5px);
}

.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  height: 250px;
  background: {
    size: cover;
    repeat: no-repeat;
    position: right center;
    image: images-url('warehouse-hero.jpg');
  }
}