@import "compass";
@import "animation/core";
@import "bootstrap";
@import "bootstrap/theme";
@import 'material-design-lite';

@import "simwms-assets/common";
@import "simwms-assets/functions";
@import "simwms-assets/map-grid";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";
@import "ember-timezone-input";
@import "pod-styles";
@import "font-awesome";
#main {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
}

#game,
#login {
  height: calc(100vh - 55px);
  padding-right: 0;
}
#sidenav {
  height: calc(100vh - 55px);
  width: 100%;
  border-left: 2px solid #ccc;
  @include box-shadow(fade-out(#000, 0.8) -2px 0 5px);
}

#login {
  background: {
    position: center center;
    image: images-url('simcity.jpg')
  }
  padding-top: 15vh;
}

.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  height: 250px;
  background: {
    size: cover;
    repeat: no-repeat;
    position: right center;
    image: images-url('warehouse-hero.jpg');
  }
}