<div class="container-fluid">
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}
      <span class="fa">SimWMS</span>
    {{/link-to}}
  </div>
  <p class="navbar-text">
    {{#if xession.loggedIn}}
      Signed in as <strong class="signed-in-as">{{xession.model.email}}</strong>
    {{else}}
      You are not signed in
    {{/if}}
  </p>
  <ul class="nav navbar-nav navbar-right hidden-lg">
    <li>
      <button class="btn btn-default navbar-btn" {{action toggle}}>
        {{fa-icon "bars"}}
      </button>
    </li>
  </ul>
</div>