<div class="container-fluid">
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-roles">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to "index" class="navbar-brand"}}
      <span class="fa">SimWMS</span>
    {{/link-to}}
  </div>
  <div id="nav-roles" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      {{#link-to "index" tagName="li"}}
        {{#link-to "index"}}
          <span class="fa">Login</span>
        {{/link-to}}
      {{/link-to}}
    </ul>
  </div>
</div>