<div class="col-xs-12">
  <div class="demo-card-wide mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome, {{model.email}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      This is your warehouse user panel
    </div>
    <div class="mdl-card__actions mdl-card--border">
      {{#link-to "user.accounts.new" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}
        {{fa-icon "plus" fixedWidth=true}} Get Started
      {{/link-to}}
    </div>
  </div>
</div>