<ul class="pager">
  {{#nav-tab route model (query-params pageOffset=paginate.prevPage) class=(concat "previous " (if firstPage "disabled"))}}
    {{fa-icon "arrow-left"}} Prev
  {{/nav-tab}}
  <li>{{currentPage}} / {{maxPage}}</li>
  {{#nav-tab route model (query-params pageOffset=paginate.nextPage) class=(concat "next " (if lastPage "disabled"))}}
    Next {{fa-icon "arrow-right"}}
  {{/nav-tab}}
</ul>