<button type="button" class="btn btn-default" {{action paginate.prevPage paginate}}>
  {{fa-icon "arrow-left"}} Prev
</button>
<button type="button" class="btn btn-default" {{action paginate.nextPage paginate}}>
  Next {{fa-icon "arrow-right"}}
</button>