{{#each model as |account|}}
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h6>{{account.name}}</h6>
      </div>
      <div class="mdl-card__supporting-text">{{account.timezone}}</div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" {{action "selectAccount" account}}>
          Select
        </button>
      </div>
    </div>
  </div> 
{{/each}}
