<div class="col-xs-6">
  {{#portal-for name="paginate-group"}}
    {{yield}}
  {{/portal-for}}
</div>  

<div class="col-xs-6">
  <div class="text-right">
    {{#link-to (if adminMode "warehouse.admin.index" "warehouse.worker.index") class="btn btn-default"}}
      {{fa-icon "close"}} Close
    {{/link-to}}
  </div>
</div>
