<div id="application">
  {{top-nav}}

  <main id="main" class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-xs-12">
        <div id="game">
          {{outlet}}
        </div>
      </div>
      <div class="col-lg-2 col-md-8 col-xs-12">
        <div id="sidenav">
          {{outlet "sidenav"}}
        </div>
      </div>
    </div>
  </main>

  {{ember-notify messageStyle="bootstrap" closeAfter=10000}}
</div>
